name: Pre merge test

on:
  pull_request:
    branches: [main]
    paths:
      - '**/*.ts'
      - '**/*.js'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - 'tsconfig.json'
      - 'playwright.config.ts'
      - 'eslint.config.js'
      - '.github/workflows/devRun.yml'

permissions:
  contents: read
  pull-requests: write
  checks: write
  pages: write
  id-token: write

jobs:
  merge_test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      BASE_URL: ${{ vars.BASE_URL }}
    container:
      image: mcr.microsoft.com/playwright:v1.57.0
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run Playwright tests
        run: xvfb-run pnpm exec playwright test --grep "@devRun"
      - name: Link Git Information And Browser Version To Allure Report
        working-directory: allure-results
        if: always()
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          {
           echo BUILD_URL=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
           echo GIT_BRANCH=${{ github.head_ref || github.ref_name }}
           echo GIT_COMMIT_ID=${{ github.sha }}
           echo GIT_COMMIT_MESSAGE="$(git show -s --format=%s HEAD)"
           echo GIT_COMMIT_AUTHOR_NAME="$(git show -s --format='%ae' HEAD)"
           echo GIT_COMMIT_TIME="$(git show -s --format=%ci HEAD)"
          } >> environment.properties
      - name: Generate Allure HTML report
        if: always()
        run: pnpm exec allure generate allure-results --output allure-report
      - name: Allure PR summary
        if: always()
        uses: allure-framework/allure-action@v0.6.2
        with:
          report-directory: "./allure-report"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Pages artifact
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          path: allure-report

  deploy_pages:
    if: always()
    needs: merge_test
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
